
    h1 {
        display: inline-block;
        margin-left: 220px;
        margin-bottom: 0px;
        line-height: 32px;
        padding: 20px;
        background-color: teal;
        color: white;
        font-style: bold;
    }
    
    #mainBody {
        margin: auto;
        width: 960px;
        height: 490px;
        background-image: url("https://github.com/funduval/Basic-Portfolio/blob/master/assets/images/seamless_paper_texture.png?raw=true");
        margin-bottom: 0px;
    }
    
    #buttonHeader {
        text-align: center;
        color:grey;
       
    }
    
    button {
        border: none;
        background-color: white;
        font-size: 18px;
        color:grey;
        height:50px;
        width:100px;
        padding:6px;

    }
    
    #aboutImage {
        float: left;
        height: 44%;
        width: 35%;
        margin: 10px 10px 0px 2px;
    }
    
    #aboutMe {
        float: left;
        padding: 20px;
        background-color: white;
        width: 510px;
        height: 411px;
        margin-left: 40px;
        margin-top: 25px;
        color: grey;
    }
    
    #logosMain {
        list-style: none;
        padding: 10px;
       
       
    }
    
    .logoButtons {
        height: 25%;
        width: 25%;

    }
    
    #menuMain {
        list-style: none;
        float: right;
        margin-right: 18%;
        margin-top: 40px;
        margin-bottom: 10px;
        display: inline;
        color:grey;
    }
    
    #Connect {
        font-size: 18px;
        float: left;
        padding: 17px;
        background-color: white;
        width: 200px;
        margin-right: auto;
        margin-left: 20px;
        margin-top: 25px;
    }

    h2 {
        color: grey;
        margin-top: 0px;
    }
    
    hr {
        color: grey;
    }
    
    #Footer {
        height: 40px;
        padding: 20px;
        text-align: center;
        background: url("https://github.com/funduval/Basic-Portfolio/blob/master/assets/images/grey_wash_wall.png?raw=true");
        color: white;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 920px;
        border-top: teal;
        border-top-width: 8px;
        border-top-style: solid;
    }
    
   
    
    li {
        margin: 6px;
        display: inline;
    }
    