
    h1 {
        display: inline-block;
        margin-left: 18%;
        margin-bottom: 0px;
        line-height: 26px;
        padding: 14px;
        background-color: #44b3c2;
        color: white;
        font-style: bold;
        font-size: 38px;
    }
    
    #mainBody {
        margin: auto;
        width: 960px;
        height: 540px;
        background-image: url("https://github.com/funduval/Basic-Portfolio/blob/master/assets/images/seamless_paper_texture.png?raw=true");
        margin-bottom: 0px;
    }
    
   
    
    button {
        border: none;
        background-color: white;
        font-size: 18px;
        color:grey;
        height:50px;
        width:100px;
        padding:6px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    button:hover {
    background-color: #44b3c2; /* Green */
    color: white;
    }
   
    body {
       
        font-family: 'Roboto', sans-serif;
    }


    #mainImage {
        float: left;
       height:200px;
       width:200px;
        margin: 10px 10px 0px 2px;
    }
    
    #mainContent {
        float: left;
        padding: 20px;
        background-color: white;
        width: 524px;
        height: 440px;
        margin-left: 40px;
        margin-top: 18px;
        color: grey;

    }
    
    #sidebarMenu {
        list-style: none;
        padding: 0px;
       
    }
    
    .logoButtons {
        height: 21%;
        width: 21%;
        margin-left: 8px;
        padding: auto;

    }
    
    #headerMenu {
        list-style: none;
        float: right;
        margin-right: 18%;
        margin-top: 25px;
        margin-bottom: 0px;
        display: inline;
        color:grey;
    }
    
    #sidebar {
        font-size: 18px;
        float: left;
        padding: 8px 18px 12px 18px;
        background-color: white;
        width: 24%;
        height: 30%;
        margin-right: auto;
        margin-left: 20px;
        margin-top: 18px;
    }

    hr{

        margin-top: 4px;
        margin-bottom:4px;
        padding:0;
    }

    h2 {
        color: grey;
        margin-top: 0px;
        margin-bottom: 6px;
        padding: 0px;
        font-size: 26px;

    }

    h3 {
        
        margin-top: 17px;
        margin-bottom:8px;
        text-align: center;
        color:grey;
       
    }
   
    
    #Footer {
        height: 40px;
        padding: 20px;
        text-align: center;
        background: url("https://github.com/funduval/Basic-Portfolio/blob/master/assets/images/grey_wash_wall.png?raw=true");
        color: white;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 920px;
        border-top: #44b3c2;
        border-top-width: 8px;
        border-top-style: solid;
    }
    
   
    
    li {
        margin: 6px;
        display: inline;
    }
    